@{
    ViewData["Title"] = "Home Page";
}
@model AsyncPracticeThang.ViewModels.Home.IndexViewModel

<div class="text-center">
    <h1 class="display-4">Welcome to Async Practice Thang</h1>
    <p>@Model.RandomNumber</p>
    <p>@Model.ChuckNorrisFact</p>
    <h4>Seleucids</h4>
    <table class="table table-hover">
        <thead class="thead-dark">
            <tr>
                <th>Seleucid Name</th>
                <th>Start Reign Year</th>
                <th>End Reign Year</th>
                <th>Consorts</th>
            </tr>
        </thead>
        <tbody>
       @foreach (var seleucid in Model.Seleucids.Seleucids)
        {
            <tr>
                <td>@seleucid.Name</td>
                <td>@seleucid.StartReign</td>
                <td>@seleucid.EndReign</td>
                @if (seleucid.Consorts.Count > 1)
                {
                    <td>@seleucid.Consorts.Aggregate((i, j) => i + ", " + j)</td>
                }
                else
                {
                    <td>@seleucid.Consorts.FirstOrDefault()</td>
                }
            </tr>
        }
        </tbody>
    </table>
</div>
